*{ /*reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    max-width: 100vw;
}

header{
    background-image:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(/img/matrix.jpg);
    background-size: cover;
}

.menu-navegacao{
    background-image:linear-gradient(to top,transparent 20%, black 80%);
    text-decoration:none;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-bottom: 30vh; 
    min-height: 6vh;   
}

.menu-navegacao img{
    margin-right: 2vw;
    margin-left: 4vw;
}
.menu-navegacao ul{
    font-size: 1.1rem;
    flex-direction: row;
    flex-grow: 2;
}

.menu-navegacao a{
    color: white;
    margin-left: 15px;  
}

.menu-navegacao a:hover{
    color: #aaa;
}

.menu-navegacao form{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;    
}

form input{
    min-width: 2vw;
    
}
form button{
    background-color: transparent;
    color: white;
    border: none;

    margin-left: 1vw;
    padding-right: 1vw;
}

/*série principal*/

.serie-principal{
    max-width: 70vw;
}

.serie-principal img{
    padding-left:4vw ;
    margin-bottom: 5vh;
}
.serie-principal .descricao{
    /* width: 50vw; */
    margin-bottom: 60px;
    padding-left: 4vw;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 1.5rem;
}
 .serie-principal .botoes{
    max-width: 70vw;
    padding-left: 4vw;
    margin-bottom: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center; 

    font-size: large;
}

.serie-principal .botoes .botaoplay{
    background-color: white;
    border: none; 
    border-radius: 5px;
    
    color:black;
    font-size: 20px;
    font-weight: bolder;
    
    padding: 10px 20px; 
    margin-right: 15px;

    cursor: pointer;
    transition: .3s ease all;
}

.serie-principal .botoes .botaoinfo{
    background-color: rgba(153, 153, 153, 0.571);
    border: none; /*tira a borda dos botões*/
    
    padding: 10px 20px; /*primeiro valor:em cima e embaixo segundo valor:esquerda e direita*/
    
    color:white;
    font-size: 20px;
    font-weight: bolder;
    
    cursor: pointer; /* faz aparecer a mãozinha quando passa em cima*/
    transition: .3s ease all;
    border-radius: 5px; /* deixa a borda arredondada*/
}


.serie-principal .botoes .botaoplay:hover{ /* quando passa o mouse em cima inverte as cores*/
    background-color:rgb(178, 178, 178);
}

.serie-principal .botoes .botaoinfo:hover{ /* quando passa o mouse em cima inverte as coires*/
    background-color:rgba(153, 153, 153, 0.284);
    
}

.continuar-assistindo{
    background-image:linear-gradient(to bottom,transparent 10%, #141414 50%);
}

.slider{
    background-color: #141414;
}

body h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2.5em;
    
    padding-left: 4vw;
    margin-bottom: 1rem;
}

.owl-carousel{
    padding-left: 4vw;

}

