@media screen and (max-width:737px) {
    header .menu-navegacao{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    } 
}

@media  screen and (max-width:737px) {
    .serie-principal img{
        max-width:90vw;
        height: auto;
    }

    .serie-principal .descricao{
        font-size: 1rem;
        width: 90vw;
    }
}

@media  screen and (max-width:383px) {
    .menu-navegacao ul{
        display:none;
        visibility: hidden;
    }

    .menu-navegacao img{
        margin-bottom: 1rem;
    }
}

@media  screen and (max-width:311px) {
    .serie-principal .botoes .botaoplay{
        font-size: small;
    }

    .serie-principal .botoes .botaoinfo{
        font-size: small;
    }
}